{% load static tailwind_tags %}

<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <title>{% block title %}My Website{% endblock %}</title>

    {% tailwind_css %}
</head>

<body class="flex flex-col min-h-screen bg-primary">
    <header>
        {% include "./nav/navbar.html" %}
        <!-- Navbar content goes here -->
    </header>

    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% include "./footer/footer.html" %}
    </footer>

    {% block javascript %}{% endblock %}

</body>

</html>